*.*~
*.o
*.log
*.status
*.in
*.m4

Makefile

/autom4te.cache/
/configure

/src/.deps/
/src/cwatch

/tests/check_queue
/tests/check_queue.trs
/tests/check_cwatch
/tests/check_cwatch.trs
/tests/check_commandline
/tests/check_commandline.trs
/tests/.deps/
/tests/uat/test-results/
/tests/uat/*.trs

build-aux

dir_test

TAGS
.vscode
