/.gitignore~
/aclocal.m4
/autom4te.cache/
/configure
/configure.ac~
/depcomp
/install-sh
/missing
/Makefile.in
/Makefile.in~
/src/Makefile.in
/src/Makefile.in~
/src/Makefile.am~

/Makefile
/autoscan.log
/config.log
/config.status
/src/.deps/
/src/Makefile
/src/bstrlib.o
/src/cwatch
/src/cwatch.o
/src/list.o
/src/main.o
