*.*~
*.o
*.log
*.status
*.in
*.m4

Makefile

/autom4te.cache/
/configure

/src/.deps/
/src/cwatch

/tests/check_list
/tests/check_list.trs
/tests/check_cwatch
/tests/check_cwatch.trs
/tests/.deps/
/tests/uat/test-results/

build-aux

dir_test

TAGS
